<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical">
    <EditText
        android:textIsSelectable="true"
        android:id="@+id/editText1"
        android:textAlignment="textEnd"
        android:text=" "
        android:padding="20px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center" />
    <TableLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center">
        <TableRow>
            <Button
                android:text="CE"
                android:id="@+id/butCE" />
            <Button
                android:text="C"
                android:id="@+id/butC" />
            <Button
                android:text="DEL"
                android:id="@+id/butDEL" />
            <Button
                android:text="/"
                android:id="@+id/butDiv" />
        </TableRow>
        <TableRow
            android:id="@+id/tableRow2">
            <Button
                android:text="7"
                android:id="@+id/but7" />
            <Button
                android:text="8"
                android:id="@+id/but8" />
            <Button
                android:text="9"
                android:id="@+id/but9" />
            <Button
                android:text="x"
                android:id="@+id/butMul" />
        </TableRow>
        <TableRow>
            <Button
                android:text="4"
                android:id="@+id/but4" />
            <Button
                android:text="5"
                android:id="@+id/but5" />
            <Button
                android:text="6"
                android:id="@+id/but6" />
            <Button
                android:text="-"
                android:id="@+id/butMin" />
        </TableRow>
        <TableRow>
            <Button
                android:text="1"
                android:id="@+id/but1" />
            <Button
                android:text="2"
                android:id="@+id/but2" />
            <Button
                android:text="3"
                android:id="@+id/but3" />
            <Button
                android:text="+"
                android:id="@+id/butApp" />
        </TableRow>
        <TableRow>
            <Button
                android:text="+/-"
                android:id="@+id/butSign" />
            <Button
                android:text="0"
                android:id="@+id/but0" />
            <Button
                android:text=","
                android:id="@+id/butPoint" />
            <Button
                android:text="="
                android:id="@+id/butEquals" />
        </TableRow>
    </TableLayout>
</LinearLayout>